{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="col-md-4">
            <h4>更改土地信息</h4>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="zone">地区</label>
                    <input type="text" class="form-control" id="zone" name="zone"
                           value="{{ land_obj.zone }}">
                </div>
                <div class="form-group">
                    <label for="landmark">地标</label>
                    <input type="text" class="form-control" id="landmark" name="landmark"
                           value="{{ land_obj.landmark }}">
                </div>
                <div class="form-group">
                    <label for="lot">地块</label>
                    <input type="text" class="form-control" id="lot" name="lot"
                           value="{{ land_obj.lot }}">
                </div>
                 <div class="form-group">
                    <label for="position">地位</label>
                    <input type="text" class="form-control" id="position" name="position"
                           value="{{ land_obj.position }}">
                </div>
                <div class="form-group">
                    <label for="area">面积</label>
                    <input type="text" class="form-control" id="area" name="area"
                           value="{{ land_obj.area }}">
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a href="/land/" class="btn btn-danger">返回</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}